<!-- 10 - RODAPÉ INFOS -->
<footer class="bg-[#050A18] border-t border-white/5">
    <div class="container mx-auto px-6">
        <!-- Logo (em branco e maior) CopyRight | Feito com Coração -->
        <div class="pt-8 pb-8 flex flex-col items-center gap-8 md:flex-row md:justify-between">
            <!-- Esquerda: Logo e Copyright -->
            <div class="flex flex-col items-center md:flex-row gap-6 text-center md:text-left">
                <img src="{{ URL_BASE }}assets/img/logo-santis.svg" alt="Santis" class="h-14 opacity-90 brightness-200">
                <div class="text-[9px] font-black uppercase tracking-[2px] text-gray-400">
                    © 2025-<script>document.write(new Date().getFullYear())</script> Santis: Inteligência, Tecnologia e Performance.<br>todos direitos reservados.
                </div>
            </div>
            <!-- Direita: Feito com Coração -->
            <div class="text-[9px] font-black uppercase tracking-[3px] text-gray-400 mb-8 md:mb-0">
                Feito com <span class="text-red-500 animate-pulse text-xs">❤️</span> por Fernando Santis
            </div>
        </div>
    </div>
</footer>
