# Configuração de Deploy para Hostinger

# Acesso SSH/SFTP
SSH_HOST="77.37.127.187"
SSH_USER="u397613962"
SSH_PORT="65002" # Porta padrão Hostinger costuma ser 65002
SSH_PATH="/home/u397613962/domains/prun.santis.net.br"
# Caminho para adicionar ao PATH (Para forçar versão do PHP, ex: PHP 8.3)
REMOTE_PHP_PATH="/opt/alt/php84/usr/bin"


# Repositório GitHub
GITHUB_REPO="https://github.com/FPSantis/portorun"
GITHUB_BRANCH="main"

# Configuração do Banco de Dados (Produção)
DB_HOSTNAME="localhost"
DB_USERNAME="u397613962_prun"
DB_PASSWORD="Fer016902$"
DB_DATABASE="u397613962_prun"
DB_CHARSET="utf8"
DB_DBDRIVER="MySQLi"

# URL Final do Site
# URL Final do Site
SITE_URL="https://prun.santis.net.br/"

# Chaves de API
GEMINI_API_KEY="AIzaSyCQMUdptrhac2uqAdLhmF5h7ko2RiAWw2k"
