<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/" class="app-brand-link">
      <span class="app-brand-logo demo"></span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">Santis</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="icon-base bx bx-chevron-left"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item active">
      <a href="/" class="menu-link">
        <i class="menu-icon icon-base bx bx-home-smile"></i>
        <div data-i18n="Início">Início</div>
      </a>
    </li>

    <li class="menu-header small">
      <span class="menu-header-text" data-i18n="CMS Headless">CMS Headless</span>
    </li>
    <li class="menu-item {% if menu_active == 'types' %}active{% endif %}">
      <a href="/types" class="menu-link">
        <i class="menu-icon icon-base bx bx-box"></i>
        <div data-i18n="Types">Tipos de Conteúdo</div>
      </a>
    </li>
    <li class="menu-item {% if menu_active == 'media' %}active{% endif %}">
      <a href="/media" class="menu-link">
        <i class="menu-icon icon-base bx bx-file"></i>
        <div data-i18n="Media (CDN)">Mídia (CDN)</div>
      </a>
    </li>

    <li class="menu-header small">
      <span class="menu-header-text" data-i18n="Sistema">Sistema</span>
    </li>
    <li class="menu-item {% if menu_active == 'settings' %}active{% endif %}">
      <a href="/settings" class="menu-link">
        <i class="menu-icon icon-base bx bx-cog"></i>
        <div data-i18n="Global Settings">Global Settings</div>
      </a>
    </li>
  </ul>
</aside>
